<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="contact.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="contact.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone" [(ngModel)]="contact.phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Street Address" [(ngModel)]="contact.streetAddress">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" [(ngModel)]="contact.city">
  </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSubmitContact()" *ngIf="actionType === 'new'">Save Contact</button>
    <button mat-button (click)="onSubmitEditContact()" *ngIf="actionType === 'update'">Update Contact</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
