mat-sidenav {
  width: 200px;
  background: #3f51b5;
  border-right: 1px solid #0007cc;
  color: white;
}

.sidenav-img {
  width: 100%;
  text-align: center;
}

.sidenav-img mat-icon {
  font-size: 48px;
  height: auto;
  width: auto;
  display: block;
}

mat-icon {
  color: whitesmoke;
}

.sidenav-content {
  color: white;
}

.sidenav-content button {
  text-align: left;
  color: white;
}

.app-container {
  height: 100%;
  overflow: auto;
}
